<div class="auth-container">
  <!-- Partie gauche avec dégradé, logo et animation -->
  <div class="left-side">
    <div class="logo">
      <img src="assets/logo.png" alt="Logo">
    </div>
    <img src="assets/app.png" alt="Illustration" class="app-image">
  </div>
  
  

  <!-- Box flottant contenant le formulaire -->
  <div class="box">
    <div class="form-container">
      <div *ngIf="!isSignUp">
        <form (ngSubmit)="onLogin(loginForm.email, loginForm.password)">


          <h2>Connectez-vous</h2>
          <input type="email" placeholder="Email" [(ngModel)]="loginForm.email" name="email" required>
          <input type="password" placeholder="Mot de passe" [(ngModel)]="loginForm.password" name="password" required>
          <button type="submit">Se connecter</button>
        </form>
      </div>

      <div *ngIf="isSignUp">
        <form (ngSubmit)="onSignUp()">
          <h2>Créer un compte</h2>
          <input type="email" placeholder="Email" [(ngModel)]="signUpForm.email" name="email" required>
          <input type="text" placeholder="Nom et Prénom" [(ngModel)]="signUpForm.nomPrenom" name="nomPrenom" required>
          <input type="password" placeholder="Mot de passe" [(ngModel)]="signUpForm.password" name="password" required>
          <select [(ngModel)]="signUpForm.role" name="role" required>
            <option value="Admin">Admin</option>
            <option value="GestionnaireRH">GestionnaireRH</option>
            <option value="Employe">Employé</option>
          </select>
          <button type="submit">S'inscrire</button>
        </form>
      </div>

      <div class="toggle">
        <span (click)="toggleForm()">
          {{ isSignUp ? 'Déjà inscrit ? Connectez-vous' : 'Pas encore de compte ? Inscrivez-vous' }}
        </span>
        <div class="continue-without-login" *ngIf="!isSignUp">
          <span (click)="continueWithoutLogin()">Continuer sans connexion</span>
        </div>
        
      </div>
    </div>
  </div>
</div>
