<app-header></app-header>
<main class="content "> <!-- Fond légèrement gris -->
  <form [formGroup]="filterForm" class="filter-form">
    <div class="form-row">
      <!-- Champ nomEmploye avec autocomplete -->
      <mat-form-field class="w-1/3 sm:w-auto flex-grow">
        <mat-label>Employé</mat-label>
        <mat-select formControlName="nomEmploye">
          <mat-option value="">Tous</mat-option>
          <mat-option *ngFor="let emp of uniqueEmployes" [value]="emp">{{ emp }}</mat-option>
        </mat-select>
      </mat-form-field>
      
      
    </div>
  </form>
  


  <!-- Conteneur du Calendrier -->
  <div *ngIf="!isLoading" class="bg-white rounded-lg shadow-lg overflow-hidden">

    <!-- En-tête du Calendrier (Navigation) -->
    <div class="flex justify-between items-center px-5 py-4 border-b border-gray-200 bg-gray-50">
      <div class="flex items-center space-x-2">
        <button mat-icon-button color="primary" class="hover:bg-blue-100 rounded-full" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="refresh.next()" matTooltip="Mois précédent">
          <mat-icon>chevron_left</mat-icon>
        </button>
        <button mat-flat-button color="primary" class="font-medium" mwlCalendarToday [(viewDate)]="viewDate" (viewDateChange)="refresh.next()">
          Aujourd'hui
        </button>
        <button mat-icon-button color="primary" class="hover:bg-blue-100 rounded-full" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="refresh.next()" matTooltip="Mois suivant">
          <mat-icon>chevron_right</mat-icon>
        </button>
      </div>

      <h3 class="text-xl font-semibold text-gray-800">
        {{ viewDate | calendarDate:(view + 'ViewTitle'):'fr' }}
      </h3>

      <div class="w-28"></div> <!-- Alignement -->
    </div>

    <!-- Wrapper pour le Composant Calendrier -->
    <div class="calendar-wrapper">
      
  
      
      <mwl-calendar-month-view
      *ngIf="view === CalendarView.Month"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      (dayClicked)="dayClicked($event.day)"
      [locale]="'fr'"
      [excludeDays]="[0]">
    </mwl-calendar-month-view>
    
    <ng-template #eventTemplate let-event="event">
      <div class="absence-event" [style.background]="event.color?.primary">
        <!-- Affichage de l'événement sous forme de cercle sans nombre -->
      </div>
    </ng-template>    
      
    

    </div>




  </div>
</main>
