<app-header></app-header>

<main class="content">
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 p-6">
    <div *ngFor="let dept of departements; let i = index" class="bg-white shadow-md rounded-lg p-6 border border-gray-200">
    
        <h2 class="text-xl font-semibold text-gray-800 flex items-center">
          <!-- Afficher le nom si ce n'est pas en mode édition -->
          <p *ngIf="!isEditing(dept.id)" >{{ dept.nom }}</p>
          
          <!-- Afficher l'input si en mode édition -->
          <input *ngIf="isEditing(dept.id)" [(ngModel)]="dept.nom" class="text-lg  text-gray-800 " />
          
          <!-- Icône de modification -->
          <button (click)="toggleEdit(dept.id)" class="text-blue-500 hover:text-blue-700 ml-6 mb-3">
            <i class="fas fa-edit text-xl"></i>
          </button>
          <button *ngIf="isEditing(dept.id)" (click)="saveChanges(dept)" class="text-green-500 hover:text-green-700 ml-2 mb-3">
            <i class="fas fa-save text-xl"></i>
          </button>
        </h2>
        
      
      
      <div class="mt-3 text-gray-600 flex items-center text-lg">
        <i class="fas fa-user-tie text-yellow-500 mr-2"></i>
        <span>{{ dept.nomResponsable }}</span>  <!-- Afficher le nom du responsable -->
      </div>
      <div class="mt-3 text-gray-600 flex items-center text-lg">
        <i class="fas fa-users text-blue-500 mr-2"></i>
        <span>{{ dept.employes.length }} employés</span>
      </div>
      <div class="mt-1 text-gray-600 flex items-center text-lg">
        <i class="fas fa-tasks text-green-500 mr-2"></i>
        <span>{{ dept.projets.length }} projets</span>
      </div>
      <div class="mt-4 flex justify-end gap-4">
      
        <button (click)="deleteDepartement(dept.id)" class="text-gray-500 hover:text-red-700">
          <i class="fas fa-trash-alt text-xl"></i>
        </button>
      </div>
    </div>
  </div>
</main>
