<app-header></app-header>
<main class="content">
  <div class="flex  items-center gap-x-10 mb-4">
    <!-- Recherche -->
    <div class="relative w-1/4">
      <input type="text" [(ngModel)]="searchTerm" (input)="filterUsers()" 
             placeholder="Rechercher par nom..." 
             class="input input-bordered w-full h-12 pl-10 text-lg" />
      <span class="absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-500">
        <mat-icon>search</mat-icon>
      </span>
    </div>
  
    <!-- Filtre par rôle -->
    <div class="filters w-1/4 mt-4">
      <mat-form-field  class="w-full">
        <mat-label>Rôle</mat-label>
        <mat-select [(value)]="selectedRole" (selectionChange)="filterUsers()">
          
          <mat-option *ngFor="let role of roles" [value]="role">{{ role }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  

  <!-- Table Container Card -->
  <div class="bg-white rounded-lg shadow-lg overflow-hidden">
    <!-- Table -->
    <div class="overflow-x-auto">
      <table class="table">
        <thead>
          <tr>
            <th>Email</th>
            <th>Nom & Prénom</th>
            <th>Téléphone</th>
            
            <th>État</th>
            <th>Rôle</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of filteredUsers">
            <td>{{ user.email }}</td>
            <td>{{ user.nomPrenom }}</td>
            <td>{{ user.telephone }}</td>
               <td>
              <span *ngIf="user.etat === true"
                    class="inline-flex items-center gap-x-1.5 py-1 px-2.5 rounded-full text-xs font-medium bg-green-100 text-green-700">
                <i class="fas fa-check-circle fa-fw"></i>
                Actif
              </span>
              <span *ngIf="user.etat === false"
                    class="inline-flex items-center gap-x-1.5 py-1 px-2.5 rounded-full text-xs font-medium bg-red-100 text-red-700">
                <i class="fas fa-times-circle fa-fw"></i>
                Inactif
              </span>
          
            </td>
            <td>
              <span class="inline-flex items-center gap-x-1.5 py-1 px-2.5 rounded-full text-xs font-medium"
                    [ngClass]="getRoleStyling(user.role).classes">
                <i [class]="getRoleStyling(user.role).icon + ' fa-fw'"></i>
                {{ user.role }}
              </span>
            </td>
            <td>
              <button class="btn btn-sm btn-warning" (click)="  openEditModal(user.id)">
                <i class="fas fa-edit"></i>
              </button>
              <button class="btn btn-sm btn-error ml-2" (click)="deleteUser(user.id)">
                <i class="fas fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
<!-- Formulaire modal pour modifier l'utilisateur -->
<div *ngIf="isModalOpen" class="fixed inset-0 bg-gray-500 bg-opacity-50 flex items-center justify-center z-50">
  <div class="bg-white p-8 rounded-lg shadow-lg w-[500px]">
    <h2 class="text-2xl font-semibold mb-4 text-center">Modifier un utilisateur</h2>

    <form (ngSubmit)="updateUser()" class="flex flex-col items-left">
      <!-- Champs de formulaire -->
      <div class="mb-4 w-full max-w-xs">
        <label for="nomPrenom" class="block text-lg font-medium">Nom & Prénom</label>
        <input
          id="nomPrenom"
          type="text"
          class="mt-1 p-2 w-full border rounded"
          [(ngModel)]="userToEdit.nomPrenom"
          name="nomPrenom"
          required
        />
      </div>

      <div class="mb-4 w-full max-w-xs">
        <label for="email" class="block text-lg font-medium">Email</label>
        <input
          id="email"
          type="email"
          class="mt-1 p-2 w-full border rounded"
          [(ngModel)]="userToEdit.email"
          name="email"
          required
        />
      </div>

      <div class="mb-4 w-full max-w-xs">
        <label for="phoneNumber" class="block text-lg font-medium">Téléphone</label>
        <input
          id="phoneNumber"
          type="text"
          class="mt-1 p-2 w-full border rounded"
          [(ngModel)]="userToEdit.phoneNumber"
          name="phoneNumber"
          required
        />
      </div>
       <div class="mb-4 w-full max-w-xs">
  <label for="etat" class="block text-lg font-medium">État</label>
  <input
    id="etat"
    type="text"
    class="mt-1 p-2 w-full border rounded"
    [(ngModel)]="userToEdit.etat"
    name="etat"
  />
</div>



      <!-- Boutons centrés à droite -->
      <div class="flex justify-end gap-x-4 mt-6 w-full max-w-xs">
        <button type="submit" class="py-2 px-4 bg-blue-500 text-white rounded hover:bg-blue-600">Modifier</button>
        <button type="button" class="py-2 px-4 bg-gray-500 text-white rounded hover:bg-gray-600" (click)="isModalOpen = false">Annuler</button>
      </div>
    </form>
  </div>
</div>

  

</main>
