.dialog-content {
  font-family: 'Arial', sans-serif;
  padding: 15px;
  padding-bottom: 10px; /* Ajouter un espacement en bas pour éviter que les boutons ne chevauchent le contenu */
  max-height: 400px; /* Limiter la hauteur maximale du contenu */
  overflow-y: auto;  /* Permet le défilement vertical */
  scrollbar-width: none; /* Cache la barre de défilement pour Firefox */
  -ms-overflow-style: none;  /* Cache la barre de défilement pour Internet Explorer */
}

.dialog-content::-webkit-scrollbar {
  display: none;  /* Cache la barre de défilement pour Chrome, Safari, Edge */
}
.icon {
  width: 25px;  /* Ajuste selon tes besoins */
  height: 25px;
  vertical-align: middle;
  margin-right: 5px;
}

.links-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.cv-link, .linkedin-link {
  font-size: 16px;
  color: #008c99;

  text-decoration: none;
  display: flex;
  align-items: center;
}

.cv-link:hover, .linkedin-link:hover {
  opacity: 0.8;
}

.mat-icon {
  margin-right: 0px;
}

.skills-section h3, .test-section h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #3f51b5;
}

mat-chip {
  margin: 5px;
}

.correct {
  color: green;
  font-weight: bold;
}

.wrong {
  color: red;
  font-weight: bold;
}

.mat-elevation-z8 {
  width: 100%;
  margin-top: 10px;
  border-radius: 8px;
}

th {
  background-color: #f5f5f5;
  padding: 10px;
  text-align: left;
}

td {
  padding: 10px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
}

.action-buttons {
  display: flex;
  justify-content: center;
  padding: 5px;
  width: 100%;
 gap:10px;
}

.accept-btn {
  background-color: #4caf50;
  color: white;
 
}

.reject-btn {
  background-color: #f44336;
  color: white;
}
