.content {
  min-height: 100vh;
  width: calc(100% - 260px);
  margin-left: 255px;
  margin-top: 55px;
  margin-right: 5px;
  padding: 20px;
  background-color: #eae8e889;
  display: flex;
  flex-direction: column;
}
.full-width {
  width: 100%;
}

.status-pill {
  padding: 4px 8px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: 600;
}
.custom-button {
  background-color: #2196F3; /* Vert */
  color: white; /* Texte blanc */
  border: none; /* Pas de bordure */
  padding: 10px 20px; /* Espace intérieur */
  font-size: 15px; /* Taille du texte */
  border-radius: 18px; /* Bords arrondis */
  cursor: pointer; /* Curseur main */
  font-weight: bold; /* Texte en gras */
}

.custom-button:hover {
  transform: scale(1.05); /* Agrandit le bouton de 5% */
  transition: transform 0.3s ease; 
}
.truncate-motif {
  max-width: 200px; /* adapte la taille que tu veux */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer; /* pour montrer que c'est cliquable/survolable */
}

.custom-blue-btn{
  background-color:#1f90bc;
  color: white;
  width: 80px;
  height: 35px; 
  border: none; /* Supprimer la bordure par défaut */
  border-radius: 8px; /* Coins arrondis pour un look plus doux */
  display: flex; /* Permet de centrer le contenu (ex: une icône) */
  align-items: center; /* Centre verticalement */
  justify-content: center; /* Centre horizontalement */
  cursor: pointer; /* Change le curseur pour indiquer que c'est cliquable */
  transition: background-color 0.3s ease, transform 0.2s ease; /* Transitions douces pour les effets */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); /* Ombre subtile pour un effet de profondeur */
}

.custom-blue-btn:hover {

  transform: translateY(-1px); /* Léger effet de soulèvement au survol */
}

