.content {
  min-height: 180vh; /* Assure que le contenu prend toute la hauteur */
  width: calc(100% - 260px); /* Prend toute la largeur sauf la sidebar */
  margin-left: 240px;
  margin-top: 25px;
  margin-right: 20px; /* Supprime la marge droite pour qu'il prenne toute la largeur */
  padding: 20px; /* Optionnel pour l'espacement */
  background-color: #eae8e889; /* Fond du content */
  display: flex;
  flex-direction: column;
  gap: 20px; 
}
.lists-container {
  display: flex; /* Make this a flex container */
  flex-direction: row; /* Arrange items horizontally */
  gap: 40px; /* Space between the lists */
  width: 100%; /* Take full width */
}
.text-custom-size {
  font-size: 17px; /* Adjust the pixel value as needed */
}

ul::-webkit-scrollbar {
  display: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* Internet Explorer et Edge */
  scrollbar-width: none;  /* Firefox */
}
.fab.fab-new-employe {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #006c8a;
  color: white;
  border-radius: 50%;
  padding: 15px;
  font-size: 24px;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.fab.fab-new-employe:hover {
background-color: rgb(1, 175, 201);
}
