<app-header></app-header>
<main class="content">
  <div class="flex flex-wrap gap-4 items-center">
    <!-- Filtre par Équipe -->
    <div class="w-1/4">
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Offre</mat-label>
        <mat-select [(ngModel)]="selectedOffre" (change)="filterCandidatures()">
          <mat-option value="">Tous les offres</mat-option>
          <mat-option *ngFor="let offre of offres" [value]="offre">{{ offre }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  
  </div>
  
  
  <div class="card-container">
    <table class="candidates-table">
      <thead>
        <tr>
          <th style="text-align: center;">Nom & Prénom</th>
          <th style="text-align: center;">Email</th>
          <th style="text-align: center;">Téléphone</th>
          <th style="text-align: center;">Offre</th>
          <th style="text-align: center;">Statut</th>
        
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let candidature of filteredCandidatures" (click)="openModal(candidature)">
          <td style="text-align: center;">{{ candidature.nomPrenom }}</td>
          <td style="text-align: center;">{{ candidature.email }}</td>
          <td style="text-align: center;">{{ candidature.telephone }}</td>
          <td style="text-align: center;">{{ candidature.nomOffre }}</td>
          <td style="text-align: center;" [ngStyle]="{ 'color': getStatusColor(candidature.statut), 'font-weight': 'bold' }">
            {{ candidature.statut }}
          </td>
          
        
        </tr>
      </tbody>
    </table>
    <div *ngIf="!filteredCandidatures || filteredCandidatures.length === 0" class="no-candidatures-message">
      <mat-icon class="icon">inbox</mat-icon> <!-- Optional: Add an icon -->
      <p>Aucune candidature à traiter.</p>
    </div>
  </div>
  <div class="modal" *ngIf="selectedCandidature">
    <div class="modal-content">
      <span class="close" (click)="closeModal()">&times;</span>
      <h2>Entretiens pour {{ selectedCandidature.nomPrenom }}</h2>
    
      <div class="form-container" *ngIf="!selectedCandidature?.nbFixe">
        <div class="form-group" >
          <label for="nombre">Nombre d'entretiens à planifier</label>
          <input id="nombre" type="number" [(ngModel)]="nombreEntretiens" min="1" placeholder="Ex: 3">
        </div>
        <button class="btn-create" (click)="genererFormulaires()" >Valider</button>
      
      </div>
      
    
      

      <!-- Formulaire de création d'entretien -->
          <!-- Formulaire de création d'entretien OU Message de fin d'entretiens -->
      <!-- Vérifier si le nombre total est fixé ET si le nombre planifié est inférieur au total -->
      <div class="form-container"  *ngIf="selectedCandidature?.nbFixe && nombreEntretiensPlanifies < (selectedCandidature?.nbEntretiens ?? 0)">
        <div class="form-group">
          <label>Progression des entretiens : {{ nombreEntretiensPlanifies }} / {{ selectedCandidature.nbEntretiens }}</label>
        </div>
        <br>
        <h3>Créer Entretien</h3>

        <!-- Ligne 1: Type + Date -->
        <div class="form-row">
          <div class="form-group">
            <label for="type">Type Entretien</label>
            <input id="type" type="text" [(ngModel)]="nouvelEntretien.typeEntretien" placeholder="Ex: RH, Technique...">
          </div>
          <div class="form-group">
            <label for="date">Date Entretien</label>
            <input id="date" type="date" [(ngModel)]="nouvelEntretien.dateEntretien">
          </div>
        </div>

        <!-- Ligne 2: Responsable + Mode -->
        <div class="form-row">
          <div class="form-group">
            <label for="responsableEntretien">Responsable Entretien</label>
            <select id="responsableEntretien" [(ngModel)]="nouvelEntretien.responsableId" name="responsableId" required>
              <option [ngValue]="null" disabled>Sélectionner un responsable</option>
              <option *ngFor="let resp of responsables" [ngValue]="resp.id">
                {{ resp.nomPrenom }} ({{ resp.poste }})
              </option>
            </select>
          </div>

          <div class="form-group">
            <label>Mode Entretien</label>
            <div class="radio-group">
              <label>
                <input type="radio" name="mode" [(ngModel)]="nouvelEntretien.modeEntretien" value="Présentiel">
                Présentiel
              </label>
              <label>
                <input type="radio" name="mode" [(ngModel)]="nouvelEntretien.modeEntretien" value="En ligne">
                En ligne
              </label>
            </div>
          </div>
        </div>

        <button class="btn-create" (click)="creerEntretien()">Créer</button>
      </div>

      <!-- Message affiché quand tous les entretiens sont terminés -->
      <!-- Vérifier si le nombre total est fixé ET si le nombre planifié est >= au total -->
      <div class="all-interviews-complete-message" *ngIf="selectedCandidature?.nbFixe && nombreEntretiensPlanifies >= (selectedCandidature?.nbEntretiens ?? 0)">
        <mat-icon class="icon">check_circle_outline</mat-icon>
        <div class="message-content">
          <h4>Tous les entretiens sont terminés !</h4>
          <p>La candidature a complété ses entretiens prévus. Une notification a été envoyée à l'administrateur pour la décision finale.</p>
        </div>
      </div>

      
      
      
  
      <!-- Timeline des entretiens -->
      <div class="timeline-container">
        <div *ngFor="let entretien of entretiens[selectedCandidature.id] || []" class="timeline-wrapper">
      
          <!-- Ligne de timeline et bloc décision côte à côte -->
          <div class="timeline-item-flex">
      
            <!-- Bloc de timeline (gauche) -->
            <div class="timeline-item">
              <div
                class="timeline-circle"
                [ngClass]="{
                  'en-cours': entretien.statut === 'En cours',
                  'failed': entretien.statut === 'Echoué',
                  'passe': entretien.statut === 'Passé'
                }">
              </div>
      
              <div
                class="timeline-line"
                [ngClass]="{
                  'en-cours': entretien.statut === 'En cours',
                  'failed': entretien.statut === 'Echoué',
                  'passe': entretien.statut === 'Passé'
                }">
              </div>
      
              <div class="timeline-content">
                <p><strong>{{ entretien.typeEntretien }}</strong> - {{ formatDate(entretien.dateEntretien) }}</p>
              
                <div class="info-vertical">
                  <span>
                    <strong>Statut: </strong> 
                    <span [ngClass]="{
                      'text-red': entretien.statut === 'En cours' || entretien.statut === 'Echoué',
                      'text-green': entretien.statut === 'Passé'
                    }">{{ entretien.statut }}</span>
                  </span>
              
                  <span>
                    <strong>Mode: </strong> {{ entretien.modeEntretien }}
                  </span>
                  <span>
                    <strong>Responsable: </strong> {{ entretien.responsableNom }}
                  </span>
                  <span class="decision-text" (click)="toggleDecision(entretien)">➤ Décision</span>
              
                  
                </div>
              
                
              </div>
              
            </div>
      
            <!-- Bloc décision (droite), visible uniquement si ouvert -->
            <div *ngIf="entretien.showDecision " class="decision-side">
  
              <!-- SI showOnlyDecision === false (alors afficher textarea + boutons) -->
              <div *ngIf="entretien.statut === 'En cours'">
                <textarea [(ngModel)]="entretien.commentaire" placeholder="Ajouter un commentaire"></textarea>
            
                <div *ngIf="!entretien.decisionPrise" class="decision-buttons">
                  <button class="btn-accept" (click)="updateEntretien(entretien, 'Passé')">Accepter</button>
                  <button class="btn-reject" (click)="updateEntretien(entretien, 'Echoué')">Refuser</button>
                </div>
              </div>
            
              <!-- Résultat de la décision -->
              <div *ngIf="entretien.statut !== 'En cours' " class="decision-result">
                <p *ngIf="entretien.commentaire"><strong>Notes:</strong> {{ entretien.commentaire }}</p>
                <strong>Décision :</strong>
                <span [ngClass]="{
                  'text-success': entretien.statut === 'Passé',
                  'text-danger': entretien.statut === 'Echoué'
                }">
                  {{ entretien.statut === 'Passé' ? 'Accepté' : 'Refusé' }}
                </span>
              </div>
            
            </div>
            
      
          </div>
      
        </div>
      </div>
      <div class="modal-footer">
        <!-- Bouton Annuler à gauche -->
        <button type="button" class="btn-cancel" (click)="closeModal()">Fermer</button>
      
     </div>
    
    </div>
  </div>
  
  
  
</main>
