<div class="admin-dashboard">
  <!-- Barre supérieure -->
  <header class="top-bar">
    <!-- Menu et Logo à gauche -->
    <div class="left-section">
    
      <img src="assets/logo.png" alt="Logo" class="logo">
    </div>
  

  
  
    <!-- Nom utilisateur et icône utilisateur -->
    <div class="user-info">
      <i class="fas fa-user user-icon"></i>
      <span class="username">Bienvenu, {{ nomUtilisateur }}</span>
      
    </div>
  
    <!-- Menu déroulant pour déconnexion -->
    <div class="dropdown">
      <div class="icons">
        <i class="fas fa-bell notification-icon"></i>
        <i class="fas fa-sign-out-alt logout-icon" (click)="logout()"></i>
      </div>
    </div>
  </header>
  

<!-- Menu latéral -->
<!-- Menu latéral -->
<nav class="sidebar" >
    <div class="sidebar-header">
    <i class="fas fa-users-cog"></i> <!-- Icône d'administration -->
    <span>Gestionnaire RH</span>
  </div>
  <ul>
    <li>
      <a routerLink="/gestionnaire-rh" 
         [class.active]="isActive('/gestionnaire-rh')" 
         (click)="setActiveRoute('/gestionnaire-rh')">
         <i class="fas fa-id-card-alt"></i>
        <span>Candidatures</span>
      </a>
    </li>
    <li>
      <a routerLink="/gestionnaire-rh/project-management" 
      [class.active]="isActive('/gestionnaire-rh/project-management')" 
      (click)="setActiveRoute('/gestionnaire-rh/project-management')">
      <i class="fas fa-project-diagram"></i>
      <span>Projets</span>
   </a>
   
    </li>
    <li>
      <a routerLink="/gestionnaire-rh/traitement-conge" 
      [class.active]="isActive('/gestionnaire-rh/traitement-conge')" 
      (click)="setActiveRoute('/gestionnaire-rh/traitement-conge')">
      <i class="fas fa-user-times"></i>
      <span>Congés</span>
   </a>
   
    </li>
    <li>
      <a routerLink="/gestionnaire-rh/absences" 
      [class.active]="isActive('/gestionnaire-rh/absences')" 
      (click)="setActiveRoute('/gestionnaire-rh/absences')">
      <i class="fas fa-calendar-alt"></i>
      <span>Absences</span>
   </a>
   
    </li>
  
  </ul>
</nav>



