html,body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;

}

.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(250, 250, 250);

  box-shadow: 3px 3px 3px 3px rgba(2, 102, 155, 0.1);
  height: 60px;

}
.left-section {

  .logo {
    width: 70px;
    margin-left: 85px;
  }
}

.notification-icon {
  font-size: 20px;
  cursor: pointer;

}
.logout-icon {
  font-size: 20px;
  cursor: pointer;
  margin-right: 15px;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 10px;

  .username {
    font-size: 16px;
    font-weight: bold;
  }

  .user-icon {
    font-size: 22px;
  }
}




.icons i {
  margin-left: 15px;
  font-size: 20px;
  cursor: pointer;
}

.menu-icon {
  font-size: 22px;
  cursor: pointer;
}

/* Menu latéral */
.sidebar {
  position: absolute;
  left:0px;
  top: 65px; 
  width: 220px;
  height: calc(200vh - 60px); 
  background:rgb(250, 250, 250);
  padding-top: 30px;
  transition: left 0.3s ease;
  box-shadow: 5px 5px 5px 5px rgba(2, 76, 115, 0.1);
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  padding-left: 25px;
  padding-right: 30px;
  padding-top: 20px;
  text-align: start;
  cursor: pointer;
}

.sidebar ul li a {
  color: black;
  text-decoration: none;
  display: block;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
}

.sidebar ul li a i {
  margin-right: 15px; /* Espacement entre l'icône et le texte */
  font-size: 18px;
}

.sidebar ul li a span {
  flex-grow: 1;
}

.sidebar ul li a:hover {
  background: rgba(0, 0, 0, 0.1);
}

/* Élément actif */
.sidebar ul li a.active {
  border-left: 4px solid rgba(3, 98, 149, 0.534);
  border-right: 4px solid rgba(3, 98, 149, 0.534);
  font-weight: bold;
  background: transparent;
}


