<app-header></app-header>
<main class="content">
  <div class="candidatures-container">
    <h2 class="text-2xl font-semibold mb-4">Candidatures pour: {{ titreOffre }}</h2>
  
    <div class="candidatures-list">
      <div *ngFor="let candidature of candidatures" class="candidature-card">
        <h3 class="text-sm text-gray-600">{{ candidature.name }}</h3>
        <div class="flex justify-between items-center">
          <p>Score AI: <strong>{{ candidature.scoreAI }} </strong></p>
          <p *ngIf="candidature.testScore !== '0/0'">Test Score: <strong>{{ candidature.testScore }}</strong></p>
        </div>
        
        <!-- Affichage de l'état de la candidature -->
        <div class="candidature-status mt-2">
          <strong>
          <span [ngClass]="{
              'text-green-500': candidature.etat === 'AcceptePreSelection',
              'text-red-500': candidature.etat === 'RefusePreSelection',
              'text-yellow-500': candidature.etat === 'En cours'
          }">
            {{ candidature.etat }}
          </span>
        </strong> 
        </div>

        <div class="actions mt-4 flex justify-between items-center"> <!-- Ajoute flex pour placer les actions à droite -->
          <!-- Bouton Détails avec texte -->
          <button class="btn btn-primary" (click)="openDetails(candidature)">
             détails
          </button>
          
          <!-- Section pour les actions d'acceptation et de rejet, placée à droite -->
          <div class="flex">
            <!-- Icône alternative pour accepter : Check Circle -->
            <button class="btn btn-success" (click)="acceptCandidate(candidature)"  [disabled]="candidature.etat !== 'En cours'">
              <i class="fas fa-check-circle"></i> <!-- Icône Check Circle -->
            </button>
            
            <!-- Icône alternative pour rejeter : Times Circle -->
            <button class="btn btn-danger" (click)="rejectCandidate(candidature)"  [disabled]="candidature.etat !== 'En cours'">
              <i class="fas fa-times-circle"></i> <!-- Icône Times Circle -->
            </button>
          </div>
        </div>        
        
      </div>
    </div>
  </div>
</main>
